@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 17 24 39;
}

.dark {
  --bg: 17 24 39;
  --fg: 243 244 246;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
} 